.chat-view {
  position: relative;
  overflow: scroll;
  border: 3px solid #61dafb;
  border-radius: 6px;
  width: 320px;
  height: 500px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.chat-child {
  display: contents;
}
